*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    /* outline: 1px solid red !important; */
}

body{
    min-height: 100vh;
    font-family: 'General Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: #2b2b2b;

}

li{
    list-style: none;
}

.bold{
    font-weight: 600;

}

.nav{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8%;
}

.nav--logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav--img{
    max-width: 60px;
}

.nav--text{
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    font-weight: 500;
}

.nav--links{
    display: flex;
    gap: 4vw;
}

.nav--links  li {
    font-size: 1.25rem;
}

.nav--links  li:hover{
    font-weight: 500;
}


section{
    margin-bottom:10vh;
    width: 100%;
    padding-inline: 10%;
}

.hero--section{
    /*background-color: lightblue;*/
    height: 90vh;
    /*padding-top: 10vh;*/
    
}

.hero--center{
    /*background-color: lightcoral;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-top: 13vh;
    
}

.hero--heading{
    font-size: 5rem;
    font-weight: 500;
    /*background-color: lightskyblue;*/
    
}

.hero--para{
    font-size: 1.25rem;
    padding-block: 4vh;
    letter-spacing: 0.1rem;
    /*background-color: lightgoldenrodyellow;*/
}

.hero--img{
    /*background-color: lightgrey;*/
    /*transform: rotate(90deg);*/
    /*max-width: 250px;*/
    max-width: 36vw;
    margin-top: 5vh;
    
    /*position: absolute;
    top: 180px;
    left: 200px; */
    /*z-index: 999;
    position: relative;*/
    /*margin-top: -20vh;*/
}

/*.hero--img-container{
    background-color: lightcoral;
    width: 100%;
    height: 5vh;
    z-index: 999;
    position: relative;
}*/

.info--section{
    height: 100vh;
    /*background-color: lightgreen;*/
}

.info--container{
    /*background-color: brown;*/
    display: flex;
    padding-top: 8vh;
    gap: 6vw;
}

.info--img-container{
    /*background-color: lightseagreen;*/
    display: flex;
    flex-direction: column;
    gap: 5vw;

}

.info--content{
    /*background-color: beige;*/
    display: flex;
    flex-direction: column;
}

 .info--heading{
    font-size: 4rem;
    /*padding-top: 3.5vh;
    padding-left: 10rem;*/
    /*background-color: lightslategray */
}

.info--links{
    padding-top: 5vh;
    padding-left: 2vw;
    /*background-color: lightblue;*/
    
}

.info--links > li{
    list-style: devanagari;
    /*background-color: lightgrey;*/
    margin-bottom: 4vh;
    font-size: 1.2rem;
    letter-spacing: 0.125rem;
}

.info--img{
    max-width: 15vw;
}

#img--one{
    /*position: absolute;
    top: 140px;
    left: 40px;*/
    animation: move 4s 1 ease-in ;
}

#img--two{
    /*position: absolute;
    top: 340px;
    left: 40px;*/
    animation: move 5s 1 ease-in ;
}

#img--three{
    /*position: absolute;
    top: 530px;
    left: 40px;*/
    animation: move 6s 1 ease-in ;
} 


.explore--section{
    height: auto;
    /*background-color: chocolate;*/
}

.explore--container {
    width: 100%;
    /*background-color: lightblue;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-block: 2%;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 5; 
    /*background-color: lightcyan;*/
}
.div2 { 
    grid-area: 2 / 1 / 3 / 5; 
    /*background-color: lightpink;*/
}
.div3 { 
    grid-area: 3 / 1 / 6 / 4;
    /*background-color: lightgray; */
}
.div4 { 
    grid-area: 3 / 4 / 6 / 5; 
    /*background-color: lightgreen;*/
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.div5 { 
    grid-area: 6 / 3 / 7 / 5; 
    /*background-color: beige;*/
}

.div6{
    grid-area: 6 / 1 / 7 / 3;
    /*background-color: red;*/
}

.explore--heading{
    font-size: 4rem;
}

.explore--para{
    font-size: 1.3rem;
    letter-spacing: 0.125rem;
}

.explore--planets{
    display: flex;
    gap: 4vw;
    font-size: 1.3rem;
    letter-spacing: 0.125rem;
    padding-top: 2vh;
}

.explore--links > li{
    margin-bottom: 1.25rem;
}

.explore--arrow{
    max-width: 250px;
    /*background-color: lightcyan;*/
    margin-right: 10vw;   
}

.explore--img {
    max-width: 36vw;
    box-shadow: 0px 8px 15px -15px lightblue;
    /*background-color: darkgoldenrod;  */
}

.explore--text{
    /*position: absolute;
    top: 340px;
    right: 250px;*/
    
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 0.75rem;
    /*background-color: aliceblue;*/
}

.explore--section:hover #planeImgSecond{ 
    box-shadow: 0px 8px 15px -15px lightblue;
    animation: moveLeft 3s 1 ease-out ;
}



footer{
    height: 20vh;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding-inline: 8%;
    align-items: center;
}

.footer--text{
    display: flex;
    gap: 28px;
    font-size: 1.225rem;
    font-weight: 400;
}

.footer--links{
    display: flex;
    gap: 28px;
    font-size: 1.225rem;
    font-weight: 400;
}

@keyframes move {
    0% {
        transform: translateX(-120px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(180px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}